// Place all the styles related to the slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#slide-container {
  margin: 3rem;
  border: 1px solid #555599;
  padding: 3rem;

  .header {
    text-align: center;
  }
}
